body {
    font-family: "Roboto", sans-serif;
    background-color: $primary-bg-color;
    color: $text-color;
  }


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team {
    background-color: var(--section-bg-color);
}

.header {
    border-bottom: 1px solid #ececec;
  }
  
  .site-nav {
    display: flex;
  }
